<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>GymScores | @ViewBag.Title | MangoTail Software</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <div id="content">
            <div id="top-bar">
                <h1>GymScores</h1>
            </div>
        
            @RenderBody()
         </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/themes/base/css")
    @RenderSection("scripts", required: false)
    
    <script>
        $(function () {
            $(".login-btn").button();
        });
    </script>

</body>
</html>