@model GymScores.Domain.Entities.Meet

@{
    ViewBag.Title = "Add Meet";
}

<h2>Add Meet</h2>
    
@using (Html.BeginForm())
{ 
    @Html.ValidationSummary()
    
    <label for="date">Date</label>
    @Html.TextBoxFor(x => x.MeetDate, "{0:MM/dd/yyyy}", new { @maxlength = "10" })<br />
    
    <label for="name">Name</label>
    @Html.TextBoxFor(x => x.Name, new { @maxlength = "50" })<br />
    
    <label for="location">Location</label>
    @Html.TextBoxFor(x => x.Location, new { @maxlength = "50" })<br />
    
    <div id="btn-container">
        @Html.ActionLink("Cancel", "List", "Meet", new { @class = "cancel-link" })
        <input type="submit" value="Save" class="save-btn" />
    </div>    
}

<script>
    $(function() {
        $("#MeetDate").datepicker();
    });
</script>