@model GymScores.ViewModels.MeetScoresViewModel

@{
    ViewBag.Title = "Meet Details";
}

<div id="details">
    <h2>Meet Details</h2>
    <p>Date: @Model.Meet.MeetDate.ToShortDateString()</p>
    <p>Name: @Html.ActionLink(Model.Meet.Name, "Edit", new { meetID = Model.Meet.MeetID })</p>
    <p>Location: @Model.Meet.Location</p>
    <p class="back-link">@Html.ActionLink("Back", "List", "Meet")</p>
</div>

@using (Html.BeginForm("Add", "Score"))
{ 
    @Html.Hidden("meetID", Model.Meet.MeetID)
    
    <div id="btns">
        <input type="submit" value="Add Score" class="submit-btn" />
    </div>
}

<table>
    <thead>
        <tr>
            <th>Gymnast</th>
            <th>Bars</th>
            <th>Beam</th>
            <th>Floor</th>
            <th>Vault</th>
            <th>AA</th>
            <th>Compulsory</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.MeetScores)
        {
            <tr>
                <td>@s.GymnastName</td>
                <td>@Html.ActionLink(s.BarsOnesTens.ToString() + "." + s.BarsTenths.ToString() + s.BarsHundredths.ToString() + s.BarsThousandths.ToString(), "Edit", "Score", new { scoreID = s.ScoreID, meetID = s.MeetID }, new { @class="plain-link" })</td>
                <td>@Html.ActionLink(s.BeamOnesTens.ToString() + "." + s.BeamTenths.ToString() + s.BeamHundredths.ToString() + s.BeamThousandths.ToString(), "Edit", "Score", new { scoreID = s.ScoreID, meetID = s.MeetID }, new { @class="plain-link" })</td>
                <td>@Html.ActionLink(s.FloorOnesTens.ToString() + "." + s.FloorTenths.ToString() + s.FloorHundredths.ToString() + s.FloorThousandths.ToString(), "Edit", "Score", new { scoreID = s.ScoreID, meetID = s.MeetID }, new { @class="plain-link" })</td>
                <td>@Html.ActionLink(s.VaultOnesTens.ToString() + "." + s.VaultTenths.ToString() + s.VaultHundredths.ToString() + s.VaultThousandths.ToString(), "Edit", "Score", new { scoreID = s.ScoreID, meetID = s.MeetID }, new { @class="plain-link" })</td>
                <td>@Html.ActionLink(s.AllAround.ToString(), "Edit", "Score", new { scoreID = s.ScoreID, meetID = s.MeetID }, new { @class="plain-link" })</td>
                <td>@Html.ActionLink(s.IsCompulsory.ToString() == "True" ? "Yes": "No", "Edit", "Score", new { scoreID = s.ScoreID, meetID = s.MeetID }, new { @class="plain-link" })</td>
            </tr>
        }
    </tbody>
</table>